html,body
{
  margin:0 !important;
  padding:0 !important;
}
.header
{
  height:500px !important;
  width:100% !important;
  background:url("https://directlinedev.com/media/services/service/background/background_20.wide.jpeg") no-repeat;
   background-size:cover;
  background-attachment:fixed;
  position:fixed;
 
}
.nav-content {
    background-color: #6785a2!important;
  
}
.a-content
{
  color:whitesmoke !important;
}
.a-content:hover
{
  color:black !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    
    background: #9eb3b8;
}


.cards
{
  position:fixed;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 4px;
}
